*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Arial Black', Arial, sans-serif;
}

body{
  background:#000;
  color:#fff;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:100%;
  text-align:center;
}

.mode-selector{
  margin-bottom:40px;
  display:flex;
  justify-content:center;
  gap:20px;
}

.mode-selector button{
  background:#111;
  color:white;
  border:1px solid #333;
  padding:12px 25px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

.mode-selector button.active{
  background:white;
  color:black;
}

#timer{
  font-size:9rem;
  margin-bottom:40px;
  letter-spacing:5px;
}

.inputs{
  display:none;
  justify-content:center;
  gap:15px;
  margin-bottom:35px;
}

.inputs input{
  width:100px;
  padding:15px;
  font-size:1.2rem;
  text-align:center;
  background:#111;
  border:1px solid #333;
  color:white;
  border-radius:10px;
  outline:none;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

.buttons button{
  background:#111;
  color:white;
  border:1px solid #333;
  padding:15px 35px;
  font-size:1rem;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
}

.buttons button:hover,
.mode-selector button:hover{
  background:white;
  color:black;
}

button:active{
  transform:scale(0.97);
}

@media (max-width: 768px){

  #timer{
    font-size:3.5rem;
    letter-spacing:2px;
  }

  .buttons{
    flex-direction:column;
    align-items:center;
  }

  .buttons button{
    width:220px;
  }

  .inputs{
    flex-wrap:wrap;
  }

  .inputs input{
    width:80px;
    font-size:1rem;
  }

  .mode-selector{
    flex-direction:column;
    align-items:center;
  }

  .mode-selector button{
    width:220px;
  }

  body{
    padding:20px;
    overflow-x:hidden;
  }

}

.flash{

  animation: flashScreen 2s infinite;

}

@keyframes flashScreen{

  0%{
    background:black;
    color:white;
  }

  50%{
    background:white;
    color:black;
  }

  100%{
    background:black;
    color:white;
  }

}